body {
  background-image:url(https://i.redditmedia.com/SUh82QQgxrgonOrwtXAvOLhHRHZXV8fAcdZfkcCLM3w.jpg?s=19d7be29675a44abecdc4acccf5f1f98);
font-family: sans-serif;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 
{
  text-align: center;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #00318e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#quoteDisplay {
  text-align:center;
  padding: 10px;
  font-size: 35px;
}

